body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}


header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: white
}

.chamada {
    background: rgb(48, 62, 119);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
    background: rgb(52, 67, 135);
    padding: 5%;
    border-radius: 2rem;
    border: solid black 1px;
    

}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
    border-radius: 1rem;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(255, 255, 255);
}

.categoria h2 {
    color: rgb(42, 122, 228);
}
div iframe{
    background: 
        linear-gradient(rgb(97, 221, 252), rgb(10, 3, 3)) padding-box, 
        linear-gradient(to right, #0d90c4, #40a594, #0a0a0a) border-box;
    border-radius: 1rem;
    border: 3px solid transparent;
    position: relative;
    justify-content: center; 
    align-items: center; 
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none; 
    color: #1b1d1c;
    cursor: pointer;
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: #000000;
    }
    100% {
        border-color: transparent;
    }
}
    
    
    
    
    
    
